.reveal {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  color: #222; }

  /*********************************************
   * HEADERS
   *********************************************/
  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6 {
    margin: 0 0 20px 0;
    color: #222;
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word;
    }

  .reveal h1 {
    font-size: 2.5em; }

  .reveal h2 {
    font-size: 1.6em; }

  .reveal h3 {
    font-size: 1.3em; }

  .reveal h4 {
    font-size: 1em; }

  .reveal h1 {
    text-shadow: none; }

.reveal section img {
  border: 0;
  box-shadow: none;
  max-height: 500px;
  margin: 0px 0px;
}

.roar {
  border: 10px;
  box-shadow: none;
  max-height: 50px;
  margin: 0px 0px;
}

h1, h2, h3, h4, h5 {
  color: rgb(255, 0, 125);
}



/********************/
/**** FONT STUFF ****/
/********************/
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-Regular.ttf);
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-Italic.ttf);
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-Thin.ttf);
font-weight: 100;
font-style: normal;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-ThinItalic.ttf);
font-weight: 100;
font-style: italic;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-ExtraLight.ttf);
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-ExtraLightItalic.ttf);
font-weight: 200;
font-style: italic;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-Light.ttf);
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-LightItalic.ttf);
font-weight: 300;
font-style: italic;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-Medium.ttf);
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-MediumItalic.ttf);
font-weight: 500;
font-style: italic;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-SemiBoldItalic.ttf);
font-weight: 600;
font-style: italic;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-Bold.ttf);
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: Montserrat;
src: url(../../assets/fonts/Montserrat-BoldItalic.ttf);
font-weight: bold;
font-style: italic;
}

.book.font-family-1 {
font-family: Montserrat, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 16px;
}

------------



-------------------
