.reveal img {
  border: 0;
  box-shadow: none;
  width: 200px;
}

.img {
  border: 0;
  box-shadow: none;
  width: 10px;
}

#verysmall {
  border: 0;
  box-shadow: none;
  width: 1px;

/* ![pic][logo]{.classname} */
