.reveal img {
  border: 0;
  box-shadow: none;
  width: 200px;
}

.imgee {
  border: 0;
  box-shadow: none;
  width: 100px;
}

#verysmall {
  border: 0;
  box-shadow: none;
  width: 10px;


/* ![pic][logo]{.classname} */
